@{
    Page.Title = "Acerca de nosotros";
}

<section id="main">
    <h1>Breve descripción de la Banda Independiente San Juan De Dios</h1>
    <p> Banda Independiente Nacional San Juan De Dios fue fundada en 1999, gracias a un grupo de jóvenes que impulsaron la iniciativa para crear lo que hoy en día representa a todo el pueblo de La Peña con mucho orgullo, rindiéndole honor a nuestra "Patria". </p>
<p> Contamos con nuestro Director Cesar Almanza que nos dio el apoyo para que nuestra Banda Independiente fuera una realidad. </p>
<p> Hoy queremos dar gracias a todos nuestros integrantes que de una u otra manera hay participado en nuestra Banda Independiente San Juan De Dios de La Peña, por brindarnos el talento que lo representa a cada uno de ellos. </p>
<p> Pueblo Peñero, está es tu banda "SUMATE".  </p>
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Búscanos", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
