<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <center>
            <h1> Ventas de Instrumentos </h1>
            <iframe src="Graficos.cshtml" style="width: 650px; height: 450px; text-align: center; border: initial "></iframe>
            <h1> </h1>    
        </center>
    </body>
</html>
